<div class="sticky-menu">
    <div class="container">
        <div class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100">
            <div class="logo"><h1 class="mb-0"><a (click)="setRoute('first')" title="Home"><img class="img-fluid" src="assets/aceros/images/logo.png" alt="Logo" srcset="assets/aceros/images/retina-logo.png"></a></h1></div><!-- Logo -->
            <nav class="d-inline-flex justify-content-between align-items-center">
                <div class="header-left">
                    <ul class="mb-0 list-unstyled d-inline-flex">
                       
                        <li><a (click)="setRoute('first')" style="cursor: pointer;" title="">Inicio</a></li>
                        <li><a (click)="setRoute('about')" style="cursor: pointer;" title="">Nosotros</a></li>
                        <li><a (click)="setRoute('shop')" style="cursor: pointer;" title="">Tienda</a></li>
                        <li><a (click)="setRoute('contact')" style="cursor: pointer;" title="">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div><!-- Sticky Menu -->