<section>
    <div class="w-100 pt-100 paralx-70 blue-layer opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(assets/aceros/images/parallax1.jpg);"></div>
        <div class="container" style="padding-top: 5%;">
            <div class="sec-title w-100">
                <div class="sec-title-inner d-inline-block">
                    <span class="d-block thm-clr">Nuestros productos</span>
                    <h3 class="mb-0">Categorias</h3>
                </div>
            </div>
        </div>
        <div class="proj-wrap px-70 w-100">
            <div class="row proj-caro">
                <div class="col-md-4 col-sm-6 col-lg-3" *ngFor="let category of categories;  let i = index" (click)="setCategory(i)">
                    <div class="proj-box position-relative w-100" >
                        <div class="proj-thumb overflow-hidden w-100">
                            <a   title=""><img class="img-fluid w-100" src="{{category.images}}" alt="categorias"></a></div>
                        <div class="proj-info position-absolute">
                            <i class="flaticon-helmet"></i>
                            <h3 class="mb-0"><a  title="">{{category.name}}</a></h3>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</section>