

    <section>
        <div class="w-100 position-relative">
            <div class="feat-wrap style2 position-relative w-100">
                <div class="feat-caro">
                    <div class="feat-item text-center">
                        <div class="feat-img position-absolute" style="background-image: url(assets/aceros/images/resources/slide1.jpg);"></div>
                        <div class="container">
                            <div class="feat-cap">
                                <h1 class="mb-0">Comercialización y distribución de <strong class="d-inline-block thm-clr">ACERO</strong></h1>
                                <p class="mb-0">Al carbon y sus derivados. Acero de primera calidad certificada.</p>
                                <div class="feat-cap-innr">
                                    <a class="thm-btn thm-bg" (click)="setRoute('shop')" style="cursor: pointer;" title="">Catalogo<i class="flaticon-arrow-pointing-to-right"></i></a>
                                    <a class="video-btn" href="#" data-fancybox title=""><span class="spinner"><i class="flaticon-play"></i></span>Como lo <br> hacemos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feat-item text-center">
                        <div class="feat-img position-absolute" style="background-image: url(assets/aceros/images/resources/slide2.jpg);"></div>
                        <div class="container">
                            <div class="feat-cap">
                                <h1 class="mb-0">Acanalado de lamina <strong class="d-inline-block thm-clr">Galvanizada</strong></h1>
                                <p class="mb-0">Acanalados: R 101 y ondulado, Lozacero en medidas, Especiales, KR 18 Y 24, RN 100/35, Cintas a medida </p>
                                <div class="feat-cap-innr">
                                    <a class="thm-btn thm-bg" (click)="setRoute('shop')" style="cursor: pointer;" title="">Catalogo<i class="flaticon-arrow-pointing-to-right"></i></a>
                                    <a class="video-btn" href="#" data-fancybox title=""><span class="spinner"><i class="flaticon-play"></i></span>Como lo <br> hacemos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feat-item text-center">
                        <div class="feat-img position-absolute" style="background-image: url(assets/aceros/images/resources/slide3.jpg);"></div>
                        <div class="container">
                            <div class="feat-cap">
                                <h1 class="mb-0"> Nuestros productos <strong class="d-inline-block thm-clr"> Lamina galvanizada, Pintro y Zintro alum.</strong> Lamina negra rolado en frio y en calinete </h1>
                                <p class="mb-0"></p>
                                <div class="feat-cap-innr">
                                    <a class="thm-btn thm-bg" (click)="setRoute('shop')" style="cursor: pointer;"title="">Ver Catalogo<i class="flaticon-arrow-pointing-to-right"></i></a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Featured Area Wrap -->
        </div>
    </section>
    <section>
        <div class="w-100 pt-100 pb-100 position-relative">
            <div class="container">
                <div class="about-wrap style2 w-100">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-5 col-sm-12 col-lg-5 order-lg-1">
                            <div class="about-image position-relative w-100">
                                <span>15<sup>+</sup><i class="d-block">Experiencia</i></span>
                                <img class="img-fluid w-100" src="assets/aceros/images/resources/about-image2.jpg" alt="About Image 2">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-lg-7">
                            <div class="about-desc w-100">
                                <h2 class="mb-0">Sobre nosotros<strong class="thm-clr d-block">-En Aceros y Mas..</strong></h2>
                                <p class="mb-0">Contamos con amplia experiencia en nuestro giro, por mas de 15 años en la comercialización y fabricación de productos, ya que colaboramos con grandes empresas fabricantes en el ramo. Tanto nacional como internacional.</p>
                                <p>Esto nos permite contar con una amplia gama de opciones al momento de entregar sus productos y dar una pronta respuesta a sus necesidades.</p>
                                <p>Así mismo ofrecemos una garantía de inversión al momento de realizar sus compras con nosotros.</p>
                            </div>
                            <div class="serv-wrap w-100">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="serv-box w-100">
                                            <i class="thm-clr flaticon-car-parts"></i>
                                            <div class="serv-box-inner">
                                                <h3 class="mb-0"><a  title="">Comercialización</a></h3>
                                                <p class="mb-0">Ofrecemos un servicio atento y eficaz, ya que nuestros trabajadores son profesionales altamente calificados en cada una de las distintas áreas.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="serv-box w-100">
                                            <i class="thm-clr flaticon-helmet"></i>
                                            <div class="serv-box-inner">
                                                <h3 class="mb-0"><a  title="">Calidad Garantizada</a></h3>
                                                <p class="mb-0">Nos comprometemos a garantizar la máxima calidad a través de nuestra política de calidad.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="serv-box w-100">
                                            <i class="thm-clr flaticon-builder"></i>
                                            <div class="serv-box-inner">
                                                <h3 class="mb-0"><a  title="">Experiencia</a></h3>
                                                <p class="mb-0">Experiencia en diversos procesos y aplicaciones. DMS industrial asegura la factibilidad y correcto desarrollo de su proyecto.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="serv-box w-100">
                                            <i class="thm-clr flaticon-architect"></i>
                                            <div class="serv-box-inner">
                                                <h3 class="mb-0"><a  title="">Seriedad</a></h3>
                                                <p class="mb-0">Cumplimos con los plazos acordados en todas nuestras entregas, valor que para nosotros es inquebrantable.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Services Wrap -->
                        </div>
                    </div>
                </div><!-- About Wrap -->
            </div>
        </div>
    </section>
    <section>
        <div class="w-100 thm-layer opc1 overflow-hidden position-relative">
            <div class="parallax-bg zoom-anim back-blend-multiply patern-bg thm-bg" style="background-image: url(assets/aceros/images/pattern-bg1.png);"></div>
            <div class="container">
                <div class="facts-wrap shadow-none text-center w-100">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="fact-box w-100">
                                <h2 class="mb-0"><span class="counter">11</span><sup>+</sup></h2>
                                <h4 class="mb-0">Experiencia</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="fact-box w-100">
                                <h2 class="mb-0"><span class="counter">150</span><sup>+</sup></h2>
                                <h4 class="mb-0">Projectos completados</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="fact-box w-100">
                                <h2 class="mb-0"><span class="counter">120</span><sup>+</sup></h2>
                                <h4 class="mb-0">Productos</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="fact-box w-100">
                                <h2 class="mb-0"><span class="counter">12</span><sup>+</sup></h2>
                                <h4 class="mb-0">Proyectos en ejecución</h4>
                            </div>
                        </div>
                    </div>
                </div><!-- Facts Wrap -->
            </div>
        </div>
    </section>
     <section>
        <div class="w-100 pt-130 pb-100 position-relative">
            <div class="container">
                <div class="sec-title2 w-100">
                    <div class="sec-title-inner2 d-inline-block">
                        <h2 class="mb-0">En ACERO Y MAS <i>Const <br> Indus </i></h2>
                        <p class="mb-0">Ofrecemos gran variedad de productos </p>
                    </div>
                </div>
                <div class="solutions-wrap w-100">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <img class="img-fluid w-100" src="assets/aceros/images/resources/solutions-img.jpg" alt="Solutions Image">
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="solutions-content-wrap w-100">
                                <h2 class="mb-0">Comercialización de los siguientes productos</h2>
                                <ul class="solutions-list mb-0 list-unstyled w-100">
                                    <li>
                                        <i class="">*</i>
                                        <h4 class="mb-0">Laminas Galvanizada,</h4>
                                        <h4 class="mb-0">Laminas Pintro y Zitro alum.</h4>
                                         <h4 class="mb-0">Laminas Negra rolado en frio y canilete</h4>
                                        <!-- <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p> -->
                                    </li>
                                    <li>
                                        <i class="">*</i>
                                        <h4 class="mb-0"> PTR y tubo rolado en caliente</h4>
                                        <h4 class="mb-0"> PTR y tubo rolado en frio</h4>
                                    </li>
                                    <li>
                                        <i class="">*</i>
                                        <h4 class="mb-0">Tubería para cerca en todos los largos y calibres</h4>
                                        <!-- <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p> -->
                                    </li>
                                    <li>
                                        <i class="">*</i>
                                        <h4 class="mb-0">Tubería industrial en todas sus presentaciones y calibres</h4>
                                        <!-- <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p> -->
                                    </li>
                                    <li>
                                        <i class="">*</i>
                                        <h4 class="mb-0">Lamina Rolado en frió en Hoja y en rollo.</h4>
                                        <!-- <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p> -->
                                    </li>
                                    <li>
                                        <i class="">*</i>
                                        <h4 class="mb-0">Malla ciclónica</h4>
                                        <!-- <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p> -->
                                    </li>
                                    <li>
                                        <i class="">*</i>
                                        <h4 class="mb-0">Tubería para Cédula 30, 40 y 80</h4>
                                        <!-- <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- Solutions Wrap -->
            </div>
        </div>
    </section>
    
<app-categories></app-categories>
   
 <!--<section>
        <div class="w-100 gray-layer pt-100 pb-100 opc1 overflow-hidden position-relative">
            <div class="fixed-bg zoom-anim back-blend-screen patern-bg gray-bg" style="background-image: url(assets/aceros/images/pattern-bg2.jpg);"></div>
            <div class="container">
                <div class="testi-wrap position-relative w-100">
                    <h2 class="mb-0">Que dicen nuestros clientes?</h2>
                    <div class="testi-caro">
                        <div class="testi-box-wrap">
                            <div class="testi-box">
                                <div class="testi-img">
                                    <img class="img-fluid" src="assets/aceros/images/resources/testi-img1-1.png" alt="Testimonial Image 1">
                                </div>
                                <div class="testi-info">
                                    <h3 class="mb-0">“Jonspond Mendela”</h3>
                                    <p class="mb-0">Donec scelerisque dolor id nunc dictum, nterdum mauris rhoncus. Aliquam at ultrices nunc. In sem fermentum at lorem in, porta mauris.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testi-box-wrap">
                            <div class="testi-box">
                                <div class="testi-img">
                                    <img class="img-fluid" src="assets/aceros/images/resources/testi-img1-2.png" alt="Testimonial Image 2">
                                </div>
                                <div class="testi-info">
                                    <h3 class="mb-0">“Baris Jonson”</h3>
                                    <p class="mb-0">Donec scelerisque dolor id nunc dictum, nterdum mauris rhoncus. Aliquam at ultrices nunc. In sem fermentum at lorem in, porta mauris.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testi-box-wrap">
                            <div class="testi-box">
                                <div class="testi-img">
                                    <img class="img-fluid" src="assets/aceros/images/resources/testi-img1-3.png" alt="Testimonial Image 3">
                                </div>
                                <div class="testi-info">
                                    <h3 class="mb-0">“Jonson Baris”</h3>
                                    <p class="mb-0">Donec scelerisque dolor id nunc dictum, nterdum mauris rhoncus. Aliquam at ultrices nunc. In sem fermentum at lorem in, porta mauris.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section>
        <div class="w-100 pt-100 pb-100 position-relative">
            <div class="container">
                <div class="sec-title w-100">
                    <div class="sec-title-inner d-inline-block">
                        <span class="d-block thm-clr">FAQ</span>
                        <h3 class="mb-0">Preguntas frecuentes</h3>
                    </div>
                </div>
                <div class="faq-wrap w-100">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-lg-6 order-md-1">
                            <img class="img-fluid" src="assets/aceros/images/resources/faq-mockup.png" alt="Faq Mockup">
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="toggle w-100" id="toggle">
                                <div class="toggle-item w-100">
                                    <h4 class="mb-0"><span>01.</span>Cual es el proceso de cotización?</h4>
                                    <div class="toggle-content w-100"><p class="mb-0">Seleccione los productos que requiere y agregelos al carro, recibiremos su pedido y procesaremos el pago</p></div>
                                </div>
                                <div class="toggle-item w-100">
                                    <h4 class="mb-0"><span>02.</span>Cuales son las regiones que cubrimos para entregas a domicilio?</h4>
                                    <div class="toggle-content w-100"><p class="mb-0">Las entregas las estamos realizando en la misma zona Nuevo Leon, México.</p></div>
                                </div>
                                <div class="toggle-item w-100">
                                    <h4 class="mb-0"><span>03.</span>Como es el proceso de pago?</h4>
                                    <div class="toggle-content w-100"><p class="mb-0">Una vez que recibimos su pedido, le contactamos y procesamos el pago.</p></div>
                                </div>
                                <div class="toggle-item w-100">
                                    <h4 class="mb-0"><span>04.</span>Se debe cancelar cargo por entrega a domicilio?</h4>
                                    <div class="toggle-content w-100"><p class="mb-0">Si, según la distancia y cantidad de material que compre</p></div>
                                </div>
                                <div class="toggle-item w-100">
                                    <h4 class="mb-0"><span>05.</span>En cuento tiempo recibo mi pedido?</h4>
                                    <div class="toggle-content w-100"><p class="mb-0">El mismo dia ya que tenemos en la bodega todos los materiales que usted pueda necesitar.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Faq Wrap -->
            </div>
        </div>
    </section>
    
    <section>
        <div class="w-100 pt-155 pb-155 blue-layer opc85 position-relative">
            <div class="fixed-bg" style="background-image: url(assets/aceros/images/parallax3.jpg);"></div>
            <div class="particles-js" id="prtcl"></div>
            <div class="container">
                <div class="banner-wrap position-relative text-center w-100">
                    <div class="banner-inner d-inline-block">
                        <h2 class="mb-0">Acero y Más</h2>
                        <p class="mb-0">En Aceros y más ofrecemos a nuestros clientes y publico en general la atención y productos adaptados a sus necesidades, búscamos hacerles llegar productos de alta calidad para sus proyectos de construcción. </p>
                        <a class="thm-btn thm-bg" href="tel:8267690870" target="_blank" title="">Atención al cliente<i class="flaticon-arrow-pointing-to-right"></i></a>
                    </div>
                </div><!-- Banner Wrap -->
            </div>
        </div>
    </section>
    
    <section>
        <div class="w-100 pb-50 position-relative" style="padding-top: 50px;">
            <div class="container">
                <div class="clients-wrap w-100">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-lg-2">
                            <div class="client-box w-100">
                                <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-1.png" alt="Client Image 1"></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-lg-2">
                            <div class="client-box w-100">
                                <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-2.png" alt="Client Image 2"></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-lg-2">
                            <div class="client-box w-100">
                                <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-3.png" alt="Client Image 3"></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-lg-2">
                            <div class="client-box w-100">
                                <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-4.png" alt="Client Image 4"></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-lg-2">
                            <div class="client-box w-100">
                                <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-5.png" alt="Client Image 5"></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-lg-2">
                            <div class="client-box w-100">
                                <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-6.png" alt="Client Image 6"></a>
                            </div>
                        </div>
                    </div>
                </div><!-- Clients Wrap -->
            </div>
        </div>
    </section>
    <section>
        <div class="w-100 position-relative">
            <div class="container">
                <div class="getin-touch-wrap overlap-99 brd-rd5 style2 thm-layer opc8 w-100 overflow-hidden position-relative">
                    <div class="fixed-bg" style="background-image: url(assets/aceros/images/parallax2.jpg);"></div>
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-7 col-sm-12 col-lg-5">
                            <div class="getin-touch-title w-100">
                                <span class="text-color1 d-block">¿Tienes un Proyecto?</span>
                                <h2 class="mb-0"> Comunicate con Nosotros</h2>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-lg-4">
                            <div class="getin-touch-btn text-right">
                                <a class="thm-btn bg-color1" (click)="setRoute('contact')" style="cursor: pointer; color: antiquewhite;" title="">Escribenos<i class="flaticon-arrow-pointing-to-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
