<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(assets/aceros/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
                <h1 class="mb-0">Contáctanos</h1>
                <ol class="breadcrumb">
                    
                </ol>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-100 position-relative">
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.606092142641!2d-100.2272016!3d25.717463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866295bdd20e25a1%3A0x60ee8e9c584357c6!2sAcero%20y%20mas!5e0!3m2!1ses!2sco!4v1684761508978!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="contact-wrap position-relative w-100">
                <div class="contact-info-wrap text-center position-absolute">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-lg-3">
                            <div class="contact-info-box w-100">
                                <i class="thm-clr flaticon-phone-call"></i>
                                <strong>Telefono de oficina</strong>
                                <a href="tel:8136102422"><span class="d-block">8136102422</span></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3">
                            <div class="contact-info-box w-100">
                                <i class="thm-clr flaticon-headset"></i>
                                <strong>Atención movil</strong>
                               <a href="tel:8267690870"><span class="d-block">8267690870</span> </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3">
                            <div class="contact-info-box w-100">
                                <i class="thm-clr flaticon-mail"></i>
                                <strong>Email</strong>
                                <a class="d-block" href="mailto:acortez@acerosymas.com.mx" title="">
                                    acortez@acerosymas.com.mx</a>
                                <a class="d-block" href="mailto:info@acerosymas.com.mx" title="">
                                    info@acerosymas.com.mx</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3">
                            <div class="contact-info-box w-100">
                                <i class="thm-clr flaticon-placeholder"></i>
                                <strong>Dirección de bodega</strong>
                                <p class="mb-0">8a calle #215 col Miguel Alemán San Nicolás de los Garza, Nuevo León, C.P. 66470</p>
                            </div>
                        </div>
                    </div>
                </div><!-- Contact Info Wrap -->
            </div><!-- Contact Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pb-100 position-relative">
        <div class="container">                        
            <div class="sec-title v2 text-center w-100">
                <div class="sec-title-inner d-inline-block">
                    <span class="thm-clr d-block">Contáctenos</span>
                    <h2 class="mb-0">Este buzón esta orientado para que nos deje su comentario o solicitudes.</h2>
                    <p class="mb-0">Siéntase como en hacernos llegar sus requerimientos, nuestro crecimiento se basa en la mejor atención al cliente</p>
                </div>
            </div>
            <form class="contact-form text-center w-100" action="contact.html#" method="post" id="email-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="form-group w-100">
                            <div class="response w-100"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label class="d-block">Nombre :</label>
                        <input class="fname" type="text" name="fname">
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label class="d-block">Dirección de email:</label>
                        <input class="email" type="email" name="email">
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <label class="d-block">Mensaje :</label>
                        <textarea class="contact_message" name="contact_message"></textarea>
                        <button class="thm-btn thm-bg" id="submit" type="button">Enviar<i class="flaticon-arrow-pointing-to-right"></i></button>
                    </div>
                </div>
            </form><!-- Contact Form -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pb-50 position-relative">
        <div class="container">
            <div class="clients-wrap w-100">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-lg-2">
                        <div class="client-box w-100">
                            <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-1.png" alt="Client Image 1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-lg-2">
                        <div class="client-box w-100">
                            <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-2.png" alt="Client Image 2"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-lg-2">
                        <div class="client-box w-100">
                            <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-3.png" alt="Client Image 3"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-lg-2">
                        <div class="client-box w-100">
                            <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-4.png" alt="Client Image 4"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-lg-2">
                        <div class="client-box w-100">
                            <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-5.png" alt="Client Image 5"></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-lg-2">
                        <div class="client-box w-100">
                            <a href="javascript:void(0);" title=""><img class="img-fluid" src="assets/aceros/images/resources/client-img1-6.png" alt="Client Image 6"></a>
                        </div>
                    </div>
                </div>
            </div><!-- Clients Wrap -->
        </div>
    </div>
</section>
