<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(assets/aceros/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
                <h1 class="mb-0">Checkout Page</h1>
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a  title="">Home</a></li>
                    <li class="breadcrumb-item"><a  title="">Shop</a></li>

                    <li class="breadcrumb-item active">Checkout</li>
                </ol>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-100 position-relative">
        <div class="container">
            <div class="checkout-wrap w-100">
                <form class="checkout-form w-100">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-8">
                            <div class="checkout-form-box brd-rd5 w-100">
                                <div class="checkout-form-box-title d-flex flex-wrap justify-content-between align-items-center w-100">
                                    <h3 class="mb-0">Buyer Info</h3>
                                    <h3 class="mb-0">Login Here</h3>
                                </div>
                                <div class="checkout-form-inner w-100">
                                    <div class="checkout-form-field w-100">
                                        <label>First Name:</label>
                                        <input type="text">
                                    </div>
                                    <div class="checkout-form-field w-100">
                                        <label>Last Name:</label>
                                        <input type="text">
                                    </div>
                                    <div class="checkout-form-field w-100">
                                        <label>Address 1:</label>
                                        <input type="text">
                                    </div>
                                    <div class="checkout-form-field w-100">
                                        <label>Address 2:</label>
                                        <input type="text">
                                    </div>
                                    <div class="checkout-form-field w-100">
                                        <label>City:</label>
                                        <div class="slc-wrp">
                                            <select>
                                                <option>City 1</option>
                                                <option>City 2</option>
                                                <option>City 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="checkout-form-field w-100">
                                        <label>Postal Code:</label>
                                        <input type="text">
                                    </div>
                                    <div class="checkout-form-field w-100">
                                        <label>Country:</label>
                                        <div class="slc-wrp">
                                            <select>
                                                <option>United States</option>
                                                <option>India</option>
                                                <option>United Kingdom</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="checkout-form-field w-100">
                                        <label>State:</label>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-8">

                            <div class="checkout-form-box brd-rd5 w-100">
                                <div class="checkout-form-box-title d-flex flex-wrap justify-content-between align-items-center w-100">
                                    <h3 class="mb-0">Billing Details</h3>
                                </div>
                                <div class="checkout-form-inner w-100">
                                    <div class="billing-details w-100">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>There are many variations</td>
                                                    <td>$999.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Size <span>XL</span></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Color <span>RED</span></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Delivery Cost</td>
                                                    <td>$9.00</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Order total</th>
                                                    <th>$1008.00</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-form-box brd-rd5 w-100">
                                <div class="checkout-form-box-title d-flex flex-wrap justify-content-between align-items-center w-100">
                                    <h3 class="mb-0">Payment Methods</h3>
                                </div>
                                <div class="checkout-form-inner w-100">
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and type setting industry lorem.</p>
                                    <img class="img-fluid" src="assets/aceros/images/payment-icon.png" alt="Payment Icon">
                                    <div class="checkout-form-field w-100">
                                        <label>Card Number:</label>
                                        <input type="text">
                                    </div>
                                    <div class="checkout-form-field w-100">
                                        <label>CVV:</label>
                                        <input type="text">
                                    </div>
                                    <div class="checkout-form-field-wrap d-flex flex-wrap justify-content-between align-items-center w-100">
                                        <div class="checkout-form-field w-100">
                                            <label>Month:</label>
                                            <input type="text">
                                        </div>
                                        <div class="checkout-form-field w-100">
                                            <label>Year:</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="view-all text-center w-100">
                                <button class="simple-btn bg-color1" type="button">Place Order</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- Checkout Wrap -->
        </div>
    </div>
</section>
