<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(assets/aceros/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
                <h1 class="mb-0">Cart Page</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a  title="">Home</a></li>
                    <li class="breadcrumb-item"><a  title="">Shop</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ol>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-100 position-relative">
        <div class="container">
            <div class="cart-table w-100">

                <form class="cart-form">
       <!--             <table class="product-table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Description</th>
                                <th>Model</th>
                                <th>Edit</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product-image"><a  title=""><img class="img-fluid" src="assets/aceros/images/resources/cart-img1-1.jpg" alt="Cart Image 1"></a></td>
                                <td class="product-name">
                                    <h4 class="mb-0"><a  title="">There are many varia</a></h4>
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of the type setting.</p>
                                </td>
                                <td class="product-model">Product-23</td>
                                <td class="product-btns">
                                    <div class="product-cart-btns">
                                        <a class="edit" href="javascript:void(0);" title=""><i class="fas fa-pencil-alt"></i></a>
                                        <a class="remove" href="javascript:void(0);" title=""><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </td>
                                <td class="product-quantity">
                                    <span class="qty-wrp">
                                        <input class="qty" type="text">
                                    </span>
                                </td>
                                <td class="product-unit-price"><span>$999.00</span></td>
                                <td class="product-total"><span>$999.00</span></td>
                            </tr>
                            <tr>
                                <td class="product-image"><a  title=""><img class="img-fluid" src="assets/aceros/images/resources/cart-img1-2.jpg" alt="Cart Image 2"></a></td>
                                <td class="product-name">
                                    <h4 class="mb-0"><a  title="">There are many varia</a></h4>
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of the type setting.</p>
                                </td>
                                <td class="product-model">Product-24</td>
                                <td class="product-btns">
                                    <div class="product-cart-btns">
                                        <a class="edit" href="javascript:void(0);" title=""><i class="fas fa-pencil-alt"></i></a>
                                        <a class="remove" href="javascript:void(0);" title=""><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </td>
                                <td class="product-quantity">
                                    <span class="qty-wrp">
                                        <input class="qty" type="text">
                                    </span>
                                </td>
                                <td class="product-unit-price"><span>$999.00</span></td>
                                <td class="product-total"><span>$999.00</span></td>
                            </tr>
                        </tbody>
                    </table> -->

                    <div class="cart-table-bottom-btns d-flex flex-wrap justify-content-between align-items-center">
                        <a class="simple-btn bg-color1" href="javascript:void(0);" title="">Continue Shopping</a>
                        <a class="simple-btn bg-color1" href="javascript:void(0);" title="">Update Shopping Cart</a>
                    </div>
                    <div class="cart-data w-100">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-8">
                                <div class="cart-data-box w-100">
                                    <h3 class="mb-0">Estimate Shopping And Tax</h3>
                                    <div class="field-box w-100">
                                        <label>Country</label>
                                        <div class="slc-wrp">
                                            <select>
                                                <option>United States</option>
                                                <option>India</option>
                                                <option>United Kingdom</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="field-box w-100">
                                        <label>State/Province</label>
                                        <div class="slc-wrp">
                                            <select>
                                                <option>Please select region, state or province</option>
                                                <option>City 1</option>
                                                <option>City 2</option>
                                                <option>City 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="field-box w-100">
                                        <label>Zip/Postal Code</label>
                                        <input type="text">
                                    </div>
                                    <div class="field-btn">
                                        <button class="simple-btn bg-color1" type="submit">Get Quote</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-8">
                                <div class="cart-data-box w-100">
                                    <h3 class="mb-0">Discount Code</h3>
                                    <div class="field-box w-100">
                                        <label>Enter your coupon code if you have one.</label>
                                        <input type="text">
                                    </div>
                                    <div class="field-btn">
                                        <button class="simple-btn bg-color1" type="submit">Apply</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-8">
                                <div class="cart-data-box cart-total w-100">
                                    <span class="d-block">Subtotal: <span class="price">$999.00</span></span>
                                    <span class="d-block">Grand Total: <span class="price">$999.00</span></span>
                                    <div class="field-btn">
                                        <button class="simple-btn checkout-btn bg-color1" type="submit" >Proceed To Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form><!-- Cart Form -->
            </div>
        </div>
    </div>
</section>
