<footer>
    <div class="w-100 bg-color5 pt-195 pb-10 position-relative">
        <div class="particles-js" id="prtcl2"></div>
        <div class="container">
            <div class="footer-data w-100">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="widget w-100">
                            <div class="logo w-100">
                                <h1 class="mb-0"><a href="index.html" title="Home"><img class="img-fluid" src="assets/aceros/images/logo2.png" alt="Logo" srcset="assets/aceros/images/retina-logo2.png"></a></h1>
                            </div><!-- Logo -->
                            <p class="mb-0">ACEROS Y MÁS. Todo en acero para su proyecto!!</p>
                            <div class="social-links2 d-inline-block">
                                <a href="https://web.facebook.com/aceroymas.com.mx?_rdc=1&_rdr" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/acerosymas1/" title="Instragram" target="_blank"><i class="fab fa-instagram"></i></a>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3 order-lg-1">
                        <div class="widget w-100">
                            <div class="visitor-stats w-100">
                                <div class="visitor-stat-box w-100">
                                    <h4 class="mb-0 thm-clr counter">25,329,53253</h4>
                                    <h5 class="mb-0">Visitas</h5>
                                </div>
                                <div class="visitor-stat-box w-100">
                                    <h4 class="mb-0 text-color4 counter">329,53253825</h4>
                                    <h5 class="mb-0">Clientes</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-6">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-lg-4">
                                <div class="widget w-100">
                                    <h3>Sobre nosotros</h3>
                                    <ul class="mb-0 list-unstyled w-100">
                                        <li><a (click)="setRoute('about')" style="cursor: pointer;" title="">Quienes somos</a></li>
                                
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4">
                                <div class="widget w-100">
                                    <h3>Soporte</h3>
                                    <ul class="mb-0 list-unstyled w-100">
                                        <li><a href="tel:8267690870" title="">Soporte 24/7</a></li>
                                        <li><a href="tel:8267690870" title="">8267690870</a></li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4">
                                <div class="widget w-100">
                                    <h3>Tienda</h3>
                                    <ul class="mb-0 list-unstyled w-100">
                                        <li><a (click)="setRoute('shop')" style="cursor: pointer;" title="">Productos</a></li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Footer Data -->
        </div>
    </div>    
</footer>
<div class="copyright w-100 text-center bg-color6 position-relative">
    <div class="container">
        <p class="mb-0">Copyright <strong> ACEROS Y MÁS.</strong>  Desarrollado por <a href="https://www.buckapi.us" title="">Buckapi.</a> Todos los derechos reservados.</p>
    </div>
</div>